@value makerDarkBlue from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';

.container {
  width: 100%;

  text-align: center;
  padding: 0rem 0.4rem 1.2rem 0.4rem;
  background-color: makerDarkBlue;
}

.container_loggedin {
  border: 1px solid makerBlack;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0rem 0.4rem 1.2rem 0.4rem;
  background-color: makerDarkBlue;
}

.logo {
  text-align: center;
}

.logoutButton {
  background-color: makerBlack;
  color: makerWhite;

  border-radius: 5px;
  margin: 35px;
  outline: none;
  border: none;
  transition: transform 250ms ease-in;

  /* position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer; */
}

.logoutButton:hover {
  transform: scale(1.01);
}

.hiddenButton {
  display: none;
}

.title {
  margin: 0px 0px;
  color: makerWhite;
}

.img {
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  margin-top: 20px;
}
