@value makerDarkBlue from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerWheat from '../../common/colors.css';
@value makerShadow from '../../common/colors.css';

.header {
  color: makerDarkBlue;
  text-align: center;
}

.container {
  display: flex;
  margin: 0 4rem 1rem 2rem;
  padding: 2rem 1rem;

  border-radius: 10px;
  box-shadow: 9px 5px 11px -3px rgba(0, 0, 0, 0.75);
  transition: transform 250ms ease-in;
}

.container:hover {
  transform: scale(1.01);
}

.imgContainer {
  width: 30%;

  margin: auto;
  text-align: center;
}

.img {
  width: 100px;
  height: 120px;
  border-radius: 50%;
}

.metadata {
  width: 70%;
}

.name {
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.company,
.position,
.email,
.intro {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 15px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: makerWheat;
}
