@value makerDarkBlue from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';

.container {
  width: 35%;
  margin: auto;

  text-align: center;
  padding: 0.4rem 0.4rem;
  background-color: makerDarkBlue;
}

.container_loggedin {
  padding: 0.3rem 0.4rem;
  background-color: makerDarkBlue;
  text-align: center;
}

.title {
  color: makerWhite;
}
