@value makerDarkBlue from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerLightGrey from '../../common/colors.css';

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.input,
.textarea,
.select {
  font-size: 0.8rem;
  width: 100%;
  padding: 0.5em;
  bacground: makerWhite;
}

.input,
.select {
  flex: 1 1 30%;
}

.imgBtn {
  padding: 0;
}

.textarea {
  flex-basis: 100%;
}
